body {
  background-color: #ccc;
}
#off{
  width: 200px;
  height: 200px;
  color: red;
  background: #ccc;
}

#myShip{
  width: 340px;
  float: left;
  display: none;
}
#myShip div{
  width: 40px;
  height: 40px;
  display: inline-block;
  background: blue;
  border: 1px solid;
}

#myShots{
  width: 340px;
  float: left;
  margin-left: 50px;
  display: none;
}
#myShots div{
  width: 40px;
  height: 40px;
  display: inline-block;
  background: green;
  border: 1px solid;
}